<!DOCTYPE html>

<html data-ng-app="novatrox.ng">

<head>
    <title>Angular Best Practices</title>
</head>

<body data-ng-controller="appCtrl as ctrl">
    <h1>{{ctrl.title}}</h1>
    <div>Search: <input type="text" data-ng-model="ctrl.query" data-ng-model-options="{ debounce: { default: 300 }}" /></div>
    <span data-ng-if="ctrl.isLoading">Loading data...</span>
    <ul>
        <li data-ng-repeat="item in ctrl.items"><a href data-ng-click="ctrl.selectItem(item)">{{item.name}}</a></li>
    </ul>

    <div data-ng-controller="detailsCtrl as ctrl">
        <div data-ng-if="ctrl.hasDetails">
            <h2>{{ctrl.name}}</h2>
            <img data-ng-if="ctrl.imageUrl" data-ng-src="{{ctrl.imageUrl}}" style="max-width:300px;" />
        </div>
    </div>
    
    <script src="../node_modules/angular/angular.js"></script>
    <script src="scripts/app.controller.js"></script>
    <script src="scripts/details.controller.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>